@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'Montserrat', sans-serif !important;
}

/* / global styles */

.page-title {
	font-size: 25px;
	color: rgba(0, 0, 0, 0.807);
	font-weight: bold;
}

.card {
	box-shadow: 0 0 2px gray;
	border-radius: 0 !important;
}

.card-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.496);
}

.normal-text {
	font-size: 1rem;
}

.spinner-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.323);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.spinner-border {
	width: 4rem;
	height: 4rem;
	color: white !important;
}

/* / antd design overrides styles */
.input {
	border-radius: 2px !important;
	border: 1px solid rgba(128, 128, 128, 0.524) !important;
	height: 40px !important;
}
input:focus,
.ant-picker {
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid gray !important;
}
label {
	font-size: 1rem;
	color: black !important;
}
.ant-form-item {
	margin: 10px 0 !important;
}

.ant-picker {
	border-radius: 2px !important;
	border: 1px solid rgba(128, 128, 128, 0.524) !important;
	height: 40px !important;
}

.ant-picker-input input {
	border: none !important;
}

.primary-button {
	background-color: #005555 !important;
	border-color: #005555 !important;
	height: 40px !important;
	width: 100% !important;
	color: white !important;
	font-size: 1rem !important;
	width: max-content !important;
}

.anchor {
	color: black !important;
	text-decoration: underline;
	font-size: 1rem !important;
	cursor: pointer !important;
}
.anchor:hover {
	text-decoration: underline !important;
}

/* / authentication pages */
.authentication {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #005555;
}

.authentication-form {
	width: 400px; /* will change to something better */
}

.authentication .card-title {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: orangered;
	color: white !important;
	max-width: max-content !important;
	padding: 7px 15px;
	margin-left: -40px;
	border-bottom-left-radius: 10px;
}
